<header ng-include="'templates/header.html'"></header>
{{newPassword}}
<form>
    <h2>Change Profile Password</h2>
    <input type="password" id="password" ng-keyup="checkingOldPassword()" ng-model="oldPassword" placeholder="Old Password"/>
    <input type="password" id="new-password" ng-keyup="checkingNewPassword()" ng-model="newPassword" placeholder="New Password"/>
    <input type="password" id="rep-password" ng-keyup="checkingRepeatPassword()" ng-model="repeatPassword" placeholder="Repeat Password"/>
    <input type="submit" id="input-submit" ng-click="changePassword()" value="Change Password"/>
</form>