<header ng-include="'templates/header.html'"></header>
<div id="edit-profile">
    <div id="img">
        <h2>Profile Image</h2>
        <img ng-src="{{image}}">
        <div class="upload">
            <input type="file" name="upload" value="Upload"onchange="angular.element(this).scope().uploadPicture(this.files)"/>/>
        </div>
    </div>
    <div id="cover-image">
        <h2>Cover Image</h2>
        <img ng-src="{{coverImage}}">
        <div class="upload">
            <input type="file" name="upload" value="Upload"onchange="angular.element(this).scope().uploadCoverImage(this.files)"/>
        </div>
    </div>
    <div id="user-data">
        <input type="text"  ng-keyup="checkingEmail()" id="email" ng-model="email">
        <input type="text" ng-keyup="checkingName()" id="name" ng-model="name">
        <label for="female">Female</label>
        <input type="radio" ng-checked="gender === 2" value="2" id="female" ng-model="gender">
        <label for="male">Male</label>
        <input type="radio" ng-checked="gender === 1" value="1" id="male" ng-model="gender">
        <label for="other">Other</label>
        <input type="radio" ng-checked="gender === 0" value="0" id="other" ng-model="gender">
        <input type="submit" value="Edit" ng-click="editProfile()"/>
    </div>

</div>


