<header ng-include="'templates/header.html'"></header>
<h1 id="welcome-msg">Welcome to WSN - The World Social Network</h1>
<div>Please Log In to continue!</div>
<form>
<h2>{{title}}</h2>
<input type="text" id="username" ng-keyup="checkingUsername()" ng-model="username" placeholder="Username" name="username"/>
<input type="password" id="password" ng-keyup="checkingPassword()" ng-model="password" placeholder="Password" name="password"/>
<input ng-disabled="isDisabled" type="submit" ng-click="userLogin()" value="Login"/>
</form>