<header ng-include="'templates/header.html'"></header>
<form>
    <h2>{{title}}</h2>
    <input type="text" id="username" ng-keyup="checkingUsername()" ng-model="username" placeholder="Username" name="username"/>
    <input type="text" id="email" ng-keyup="checkingEmail()" ng-model="inputEmail" placeholder="Email" name="email"/>
    <input type="text" id="name" ng-model="name" ng-keyup="checkingName()" placeholder="Name" name="name"/>
    <input type="password" id="password" ng-keyup="checkingPassword()" ng-model="password" placeholder="Password" name="password"/>
    <input type="password" id="rep-password" ng-keyup="checkingRepeatPassword()" ng-model="repeatPass"placeholder="Repeat Password" name="password"/>
    <label for="female">Female</label>
    <input type="radio" id="female" ng-model="gender" value="2"/>
    <label for="male">Male</label>
    <input type="radio" id="male" ng-model="gender" value="1"/>
    <label for="other">Other</label>
    <input type="radio" id="other" ng-checked="true" ng-model="gender" value="0"/>
    <input type="submit" ng-click="userRegister()" value="Register"/>
</form>
