<header ng-include="'templates/header.html'"></header>
{{searchUserByName}}
<input type="search" id="searchUserByName"  placeholder="Search User by Name" ng-model="filterBy.name"/>

<div ng-init="gender=['Other', 'Male', 'Female']" class="friend-info" ng-repeat="friend in friends | filter:filterBy">
    <img ng-src="{{friend.profileImageData}}"/>
    <div class="friend-data">
        <div class="friend-name">{{friend.name}}</div>
        <span>Gender: </span>
        <img class="gender-image" ng-show="friend.gender === 1"src="img/017853-blue-jelly-icon-symbols-shapes-male-symbol1-sc48.png">
        <img class="gender-image" ng-show="friend.gender === 2" src="img/home_female_symbol.png">
        <img class="gender-image" ng-show="friend.gender === 0" src="img/cat-gender-2.png">
    </div>


</div>
