<header ng-include="'templates/header.html'"></header>
<div class="friend-info">
    <img src="img/images.jpg"/>
    <div class="friend-data">
        <span>Male</span>
        <img src="img/017853-blue-jelly-icon-symbols-shapes-male-symbol1-sc48.png">
    </div>
    <div class="friend-name">Hristo Hristov</div>
    <!--<img class="gender-image" ng-show="userPost.author.gender === 1"src="img/017853-blue-jelly-icon-symbols-shapes-male-symbol1-sc48.png">-->
    <!--<img class="gender-image" ng-show="userPost.author.gender === 2" src="img/home_female_symbol.png">-->
    <!--<img class="gender-image" ng-show="userPost.author.gender === 0" src="img/cat-gender-2.png">-->
</div>
<div class="friend-info">
    <img src="img/images.jpg"/>
    <div class="friend-data">
        <span>Male</span>
        <img src="img/017853-blue-jelly-icon-symbols-shapes-male-symbol1-sc48.png">
    </div>
    <div class="friend-name">Hristo Hristov</div>
    <!--<img class="gender-image" ng-show="userPost.author.gender === 1"src="img/017853-blue-jelly-icon-symbols-shapes-male-symbol1-sc48.png">-->
    <!--<img class="gender-image" ng-show="userPost.author.gender === 2" src="img/home_female_symbol.png">-->
    <!--<img class="gender-image" ng-show="userPost.author.gender === 0" src="img/cat-gender-2.png">-->
</div>
<div class="friend-info">
    <img src="img/images.jpg"/>
    <div class="friend-data">
        <span>Male</span>
        <img src="img/017853-blue-jelly-icon-symbols-shapes-male-symbol1-sc48.png">
    </div>
    <div class="friend-name">Hristo Hristov</div>
    <!--<img class="gender-image" ng-show="userPost.author.gender === 1"src="img/017853-blue-jelly-icon-symbols-shapes-male-symbol1-sc48.png">-->
    <!--<img class="gender-image" ng-show="userPost.author.gender === 2" src="img/home_female_symbol.png">-->
    <!--<img class="gender-image" ng-show="userPost.author.gender === 0" src="img/cat-gender-2.png">-->
</div>
<div class="friend-info">
    <img src="img/images.jpg"/>
    <div class="friend-data">
        <span>Male</span>
        <img src="img/017853-blue-jelly-icon-symbols-shapes-male-symbol1-sc48.png">
    </div>
    <div class="friend-name">Hristo Hristov</div>
    <!--<img class="gender-image" ng-show="userPost.author.gender === 1"src="img/017853-blue-jelly-icon-symbols-shapes-male-symbol1-sc48.png">-->
    <!--<img class="gender-image" ng-show="userPost.author.gender === 2" src="img/home_female_symbol.png">-->
    <!--<img class="gender-image" ng-show="userPost.author.gender === 0" src="img/cat-gender-2.png">-->
</div>